<nav class="navbar navbar-dark bg-dark">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-header pull-left">
      <span class="navbar-brand" href="#">RAILSAPP</span>
    </div>
    <% if session[:token] %>
      <div class="navbar-header pull-right">
        <%= link_to "Posts", posts_path %>
        <%= link_to "Account", users_path %>
        <%= link_to "Report", "/users/report" %>
        <%= link_to "Logout", "/users/logout" %>
      </div>
    <% end %>
</div>
</nav>
